<% provide(:title, "Edit User Account") %>

<div class="row justify-content-center">
  <div class="card reg-form">
    <div class="col sm-12">
      <h5 class="card-title text-center alert alert-info">Edit User Account</h5>
    </div>

    <div class="col sm-10">
      <div class="card-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
